.root {
  display: grid;
  grid-gap: 1rem;

  button {
    border: none;
  }

  @media screen and (min-width: 64rem) {
    grid-template-columns: 24rem 1fr;
  }
}

.header {
  padding: 0.5rem;
  text-align: center;
}

.content {
  padding: 1rem;
  text-align: center;

  &.empty {
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  text-align: center;
  margin: 1.5rem auto 1rem;
}

.legend {
  display: inline-grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;

  @media screen and (min-width: 64rem) {
    text-align: left;
  }

  .purple {
    color: #9f8be8;
  }
  .pink {
    color: #ffc2e2;
  }
}
