.root {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  width: 24rem;
  padding: 1rem;
}

.content {
  grid-area: content;
  padding: 1rem;
}

.title {
  text-align: center;
  margin: 1.5rem auto 1rem;
}
